h5 {
  font-family: 'Tomorrow', sans-serif;
  font-weight: 600;
}

h6 {
  font-family: 'Tomorrow', sans-serif;
  font-weight: 500;
}

p {
  font-family: 'Tomorrow', sans-serif;
  font-weight: 400;
}

span {
  font-family: 'Tomorrow', sans-serif;
  font-weight: 400;
}

.card-field {
  text-align: center;
  padding: 0 10px 0;
}