.header-link {
  text-decoration: 'none';
}

.content-component {
  padding-top: 100px; 
}

.header-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 8%;
}

.block {
  padding: 10px 0 10px;
}

.header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.ir-text {
  font-size: x-large;
  padding: 0 10px 0;
}

.ir-text-small {
  padding: 0 10px 0;
  font-size: xx-small;
}

.roboto-bold {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 700;
}

.roboto-regular {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
}

.roboto-light {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
}

.roboto-xlight {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
}